{
  "singleQuote": true,
  "arrowParens": "avoid",
  "semi": false,
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": ["^\\$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
