---
import LocationButton from '../components/LocationButton.astro'
import WeatherCard from '../components/WeatherCard.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div
      class="flex h-screen items-center justify-center bg-gradient-to-b from-slate-800 to-slate-900 p-4"
    >
      <LocationButton />
      <div
        id="weather-container"
        class="hidden w-full max-w-md rounded-xl bg-gradient-to-br from-sky-800/80 to-slate-900/90 p-6 shadow-lg ring-1 ring-sky-700/50 backdrop-blur-sm"
      >
        <WeatherCard />
      </div>
    </div>
  </body>
</html>
