---
import LocationButton from '../components/LocationButton.astro'
import { forecastExampleData } from '../data/exampleData'
import weatherCodes from '../data/weatherCodes.json'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div
      class="flex h-screen flex-col items-center bg-gradient-to-b from-slate-800 to-slate-900 p-4"
    >
      <div class="w-full">
        <LocationButton />
      </div>
      <div class="flex flex-col items-center space-y-2">
        <h2 class="text-2xl font-bold text-white" id="weather-location">
          {forecastExampleData.locationData.address.city_district},
          {forecastExampleData.locationData.address.city}
        </h2>
        <h2 class="text-3xl font-semibold text-white" id="weather-temp">
          {
            forecastExampleData.weatherData.currentData.data.values.temperature.toFixed(
              1,
            )
          }°C
        </h2>
        <div class="flex flex-col items-center">
          <p class="text-white" id="weather-description">
            {
              weatherCodes.weatherCode[
                forecastExampleData.weatherData.currentData.data.values.weatherCode.toString() as keyof typeof weatherCodes.weatherCode
              ] ?? 'Unknown'
            }
          </p>
          <p class="text-gray-400" id="weather-description">
            Feels like {
              forecastExampleData.weatherData.currentData.data.values.temperatureApparent.toFixed(
                1,
              )
            }°C
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
