---

---

<script>
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      position => {
        const { latitude, longitude } = position.coords
        console.log('Latitude:', latitude, 'Longitude:', longitude)
      },
      error => {
        console.error('Error getting location:', error.message)
      },
    )
  } else console.error('Geolocation is not supported by this browser.')
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
