---
import LocationButton from '../components/LocationButton.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex h-screen flex-col items-center justify-center">
      <LocationButton />
    </div>
  </body>
</html>
