<div
  class="flex h-full flex-col justify-center gap-2 rounded-lg bg-gray-800/50 p-4 text-white backdrop-blur-sm"
  id="day-selector"
>
</div>

<script>
  import { storage } from '../data/storage'
  import { celsiusToFahrenheit } from '../data/utilities'

  const today = new Date()
  const currentDayIndex = today.getDay()

  const days = [
    'Sunday',
    'Monday',
    'Tuesday',
    'Wednesday',
    'Thursday',
    'Friday',
    'Saturday',
  ]

  const weekDays = Array.from({ length: 5 }, (_, i) => {
    const dayIndex = (currentDayIndex + i) % 7
    return days[dayIndex]
  })

  function updateUIState() {
    const weatherData = storage.getWeatherData()
    const tempUnit = storage.temperatureUnit.get()

    const temperatures =
      weatherData?.weatherData.weatherData.timelines.daily.map(day => ({
        min:
          tempUnit === 'fahrenheit'
            ? celsiusToFahrenheit(day.values.temperatureMin)
            : day.values.temperatureMin,
        max:
          tempUnit === 'fahrenheit'
            ? celsiusToFahrenheit(day.values.temperatureMax)
            : day.values.temperatureMax,
      }))

    const daySelector = document.getElementById('day-selector')
    if (daySelector) {
      daySelector.innerHTML = weekDays
        .map(
          (day, index) => `<button
          data-index=${index}
          class="day-button flex items-center justify-between rounded p-2 transition-colors hover:bg-white/10 ${
            day === days[currentDayIndex] ? 'bg-white/5' : ''
          }"
        >
          <span class="text-lg">${day}</span>
          <div class="flex items-center gap-2">
             <div class="flex items-center gap-1">
              <img 
                src="${import.meta.env.BASE_URL}icons/thermometer-high.svg" 
                alt="High temperature"
                class="w-6 h-6"
              />
              <span class="text-lg">${temperatures?.[index]?.max?.toFixed(0) ?? ''}°</span>
            </div>
            <div class="flex items-center gap-1">
              <img 
                src="${import.meta.env.BASE_URL}icons/thermometer-low.svg" 
                alt="Low temperature"
                class="w-6 h-6"
              />
              <span class="text-lg">${temperatures?.[index]?.min?.toFixed(0) ?? ''}°</span>
            </div>
          </div>
        </button>`,
        )
        .join('')
    }

    const buttons = document.querySelectorAll('.day-button')
    let selectedIndex = weekDays.findIndex(day => day === days[currentDayIndex])

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        buttons.forEach(btn => btn.classList.remove('bg-white/5'))

        button.classList.add('bg-white/5')

        selectedIndex = parseInt(button.getAttribute('data-index') || '0')

        window.dispatchEvent(
          new CustomEvent('daySelected', { detail: { selectedIndex } }),
        )
      })
    })
  }

  // Initial update
  updateUIState()

  // Listen for weather data updates
  document.addEventListener('weatherDataUpdated', updateUIState)

  // Listen for temperature unit changes
  document.addEventListener('temperatureUnitChanged', updateUIState)
</script>
