<section
  id="weather-card"
  class="relative hidden w-full max-w-md overflow-hidden rounded-lg bg-white shadow-xl"
>
  <div class="absolute inset-0">
    <video
      autoplay
      muted
      loop
      class="h-full w-full object-cover"
      id="weather-video-element"
    >
      <source type="video/mp4" id="weather-video-source" />
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="relative flex items-center justify-between p-6">
    <div class="space-y-1">
      <h2 class="text-2xl font-bold text-gray-300" id="weather-location"></h2>
      <p class="text-3xl font-semibold text-gray-300" id="weather-temp"></p>
    </div>
    <div class="text-right">
      <p class="text-sm text-gray-100" id="weather-humidity"></p>
      <p class="text-sm text-gray-100" id="weather-wind"></p>
    </div>
  </div>
</section>

<script>
  const weatherCard = document.getElementById('weather-card')
  const videoSource = document.getElementById(
    'weather-video-source',
  ) as HTMLSourceElement
  const videoElement = document.getElementById(
    'weather-video-element',
  ) as HTMLVideoElement
  const locationElement = document.getElementById('weather-location')
  const tempElement = document.getElementById('weather-temp')
  const humidityElement = document.getElementById('weather-humidity')
  const windElement = document.getElementById('weather-wind')

  const videoSources = {
    Thunderstorm: '/weather-videos/thunderstorm.mp4',
    Drizzle: '/weather-videos/rain.mp4',
    Rain: '/weather-videos/rain.mp4',
    Snow: '/weather-videos/snow.mp4',
    Mist: '/weather-videos/mist.mp4',
    Smoke: '/weather-videos/mist.mp4',
    Haze: '/weather-videos/mist.mp4',
    Dust: '/weather-videos/dust.mp4',
    Fog: '/weather-videos/mist.mp4',
    Sand: '/weather-videos/dust.mp4',
    Ash: '/weather-videos/ash.mp4',
    Squall: '/weather-videos/clouds.mp4',
    Tornado: '/weather-videos/tornado.mp4',
    Clear: '/weather-videos/clear.mp4',
    Clouds: '/weather-videos/clouds.mp4',
    default: '/weather-videos/clear.mp4',
  }

  document.addEventListener('weather-data', ((event: CustomEvent) => {
    const data = event.detail

    const newVideoSource =
      videoSources[data.weather[0].main as keyof typeof videoSources] ||
      videoSources.default
    videoSource.src = newVideoSource
    videoElement.load()
    videoElement.play()

    if (locationElement) locationElement.textContent = data.name
    if (tempElement) tempElement.textContent = `${Math.round(data.main.temp)}°C`
    if (humidityElement)
      humidityElement.textContent = `Humidity: ${data.main.humidity}%`
    if (windElement)
      windElement.textContent = `Wind: ${Math.round(data.wind.speed)} m/s`

    if (weatherCard) weatherCard.classList.remove('hidden')
  }) as EventListener)
</script>
